#content > div {
    padding: 10vw;
}

.mobile-menu, .mobile-menu-display {
    font-size: xx-large;
}

[class^="mobile-menu-item"] {
    font-size: 72px;
    padding: 4rem;
    border-radius: 5rem;
    border: 10px solid black;
}

.main-slider {
    background-color: lightgrey;
}